@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

body, h1, h2, h3, h4, h5, h6, p, span, input, a, button{
  font-family: 'Outfit', sans-serif;
}

.about-page .shadow-text-custom{
  text-shadow: 1px -1px 2px #947625;
}


.MuiAccordion-heading, .MuiAccordion-root, 
.Mui-expanded:last-of-type {
  border-radius: 1rem!important;
  --Paper-shadow: none!important;
  border: 1px solid #ADADAD;
}

.MuiAccordion-root:first-of-type {
  border-top-left-radius: 1rem!important;
  border-top-right-radius: 1rem!important;
}

.Mui-expanded:first-of-type, .MuiAccordionSummary-root{
  border-radius: 1rem!important;
}

.MuiAccordion-root::before {
  background-color: transparent;
}

.custom-button {
  text-transform: capitalize!important; 
  border-radius: 9999px!important;  
  font-size: 0.75rem!important;  
  color: #222222!important;  
  background-color: #FFC527!important;  
  font-family: 'Outfit', sans-serif!important;
  font-weight: 500!important;
  padding-left: 1rem!important;
  padding-right: 1rem!important;
}

.custom-button-white {
  text-transform: capitalize!important; 
  border-radius: 9999px!important;  
  font-size: 0.75rem!important;  
  color: #222222!important;  
  background-color: white!important;  
  font-family: 'Outfit', sans-serif!important;
  font-weight: 500!important;
  margin-left: 2%!important;
  padding-left: 1rem!important;
  padding-right: 1rem!important;
}

.custom-button-black {
  text-transform: capitalize!important; 
  border-radius: 9999px!important;  
  font-size: 0.75rem!important;  
  color: white!important;  
  background-color: #222222!important;  
  font-family: 'Outfit', sans-serif!important;
  font-weight: 500!important;
  margin-left: 2%!important;
  padding-left: 1rem!important;
  padding-right: 1rem!important;
}

.background-white{
  background-color: white!important;
}

.text-22-black{
  color: #222222!important;
}

.bg-22-black{
  background-color: #222222!important;
}

.pos-relative{
  position: hidden!important;
}

.pos-sticky{
  position: fixed!important;
}

@media (min-width: 640px) {
  .sm\:hidden {
      display: none!important;
  }

  .txt-8-px{
    font-size: 7px!important;
  }
}

.ml-02{
margin-left: 2%!important; 
}